In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_excel('Crime.xls')

In [3]:
df = df.drop(range(0,4))

In [4]:
df.columns = ['City', 'Population', 'Violent Crime', 'Murder and nonnegligent manslaughter',
             'Rape (revised definition)', 'Rape (legacy definition)', 'Robbery', 'Aggravated assault',
             'Property Crime', 'Burglary', 'Larceny theft', 'Motor vehicle theft', 'Arson']

In [5]:
df = df.drop(4)

In [6]:
df = df.drop(range(352, 355))

In [7]:
df = df.drop('Rape (revised definition)',axis=1)

In [8]:
prop_crime = df[['City', 'Population', 'Murder and nonnegligent manslaughter', 'Robbery', 'Property Crime']]

In [10]:
prop_crime.columns = ['City', 'Pop', 'Murder', 'Robbery', 'Property Crime']

In [11]:
prop_crime['Pop sqr'] = prop_crime['Pop']**2

c:\users\gebruiker\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [12]:
prop_crime.head()

                       City    Pop Murder Robbery Property Crime     Pop sqr
5  Addison Town and Village   2577      0       0             24     6640929
6             Akron Village   2846      0       0             16     8099716
7                    Albany  97956      8     227           4090  9595377936
8            Albion Village   6388      0       4            223    40806544
9            Alfred Village   4089      0       3             46    16719921

In [13]:
prop_crime.describe()

             City   Pop  Murder  Robbery  Property Crime   Pop sqr
count         347   347     347      347             347       347
unique        347   346      14       51             239       346
top     Peekskill  9517       0        0               0  90573289
freq            1     2     298      138               6         2

In [14]:
prop_crime['Murder'].mean()

1.5706051873198847

In [15]:
prop_crime['Robbery'].mean()

73.11239193083574

In [16]:
prop_crime[prop_crime['Murder']> 0]

,City,Pop,Murder,Robbery,Property Crime,Pop sqr
7,Albany,97956,8,227,4090,9595377936
11,Amherst Town,118296,1,31,2118,13993943616
18,Auburn,27270,1,22,859,743652900
26,Binghamton,46304,3,101,2349,2144060416
35,Brighton Town,36689,1,10,793,1346082721
36,Brockport Village,8284,1,5,165,68624656
39,Buffalo,258789,47,1322,12491,66971746521
88,East Fishkill Town,29315,1,1,165,859369225
92,East Rochester Village,6596,1,3,125,43507216
103,Fallsburg Town,12109,1,0,162,146627881
119,Geneva,13194,1,5,343,174081636
131,Greenburgh Town,44787,1,16,578,2005875369
138,Hamburg Town,45535,1,12,1167,2073436225
144,Hempstead Village,55198,10,204,958,3046819204
156,Irondequoit Town,51506,1,51,1353,2652868036
159,Johnson City Village,14866,1,20,949,220997956
162,Kenmore Village,15256,1,10,220,232745536
165,Kingston,23665,1,25,687,560032225
167,Lackawanna,17965,1,11,533,322741225
199,Middletown,27809,1,47,852,773340481
210,Mount Vernon,68071,2,228,1436,4633661041
213,Newburgh,28571,5,150,1040,816302041
220,New York,8396126,335,19170,141971,70494931807876
222,Niagara Falls,49574,3,166,2807,2457581476
230,North Tonawanda,31176,1,17,586,971942976
244,Oswego City,18139,1,13,630,329023321
263,Port Jervis,8689,1,3,284,75498721
266,Poughkeepsie,30778,7,100,787,947285284
267,Poughkeepsie Town,43866,1,12,1339,1924225956
271,Ramapo Town,87204,2,9,567,7604537616
276,Rochester,210562,42,918,10051,44336355844
277,Rockville Centre Village,24129,1,11,271,582208641
278,Rome,32557,4,23,662,1059958249
280,Rotterdam Town,29146,2,16,829,849489316
285,Saranac Lake Village,5369,1,1,150,28826161
286,Saratoga Springs,27081,1,8,642,733380561
289,Schenectady,66041,8,203,2800,4361413681
292,Scotia Village,7700,1,1,126,59290000
302,Sleepy Hollow Village,9996,1,1,58,99920016
309,Spring Valley Village,32288,2,34,404,1042514944
314,Syracuse,143834,21,400,6473,20688219556
318,Tonawanda Town,58082,1,26,1099,3373518724
319,Troy,49898,1,145,1985,2489810404
325,Utica,61686,7,102,2528,3805162596
327,Walden Village,6887,1,1,142,47430769
335,Watervliet,10245,1,11,242,104960025
342,West Seneca Town,44821,1,9,896,2008922041
344,White Plains,57559,1,28,1232,3313038481
350,Yonkers,199134,6,390,2368,39654349956

In [17]:
prop_crime['Murder_cat'] = prop_crime['Murder'].apply(lambda x: 0 if x == 0 else 1)

c:\users\gebruiker\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [18]:
prop_crime['Robbery_cat'] = prop_crime['Robbery'].apply(lambda x: 0 if x == 0 else 1)

c:\users\gebruiker\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
prop_crime.head()

,City,Pop,Murder,Robbery,Property Crime,Pop sqr,Murder_cat,Robbery_cat
5,Addison Town and Village,2577,0,0,24,6640929,0,0
6,Akron Village,2846,0,0,16,8099716,0,0
7,Albany,97956,8,227,4090,9595377936,1,1
8,Albion Village,6388,0,4,223,40806544,0,1
9,Alfred Village,4089,0,3,46,16719921,0,1